/********************/
/****** GLOBAL ******/
/********************/

:root {
  --wwPurple: #845ec2;
  --wwOrange: #ffc75f;
  --wwYellow: #f9f871;
  --wwRed: #ff5e78;
  --textColor: #fff;
  --wwShadow: 2px 3px 5px rgba(0, 0, 0, 0.45);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

html {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
  scroll-behavior: smooth;
  background-color: #eee;
}

body {
  width: 80vw;
  margin: auto;
  background-color: #eee;
}

hr {
  border-color: var(--wwPurple);
  height: 10px;
  border-width: 2;
  margin: 1rem 0;
  background-color: var(--wwPurple);
  border-radius: 5px;
}

.glass {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/********************/
/**** NAVIGATION ****/
/********************/

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 12rem;
  margin-top: 0.75rem;
}

.wwLogo {
  display: flex;
  position: absolute;
  max-height: 12em;
  background-color: var(--wwPurple);
  padding: 0.5rem;
  border-top-left-radius: 8;
  border-top-right-radius: 8;
  object-fit: contain;
}

nav {
  display: inline-block;
  width: 100%;
  height: 100%;
  justify-content: baseline;
}

/**** SOCIAL MEDIA + DONATE BUTTON ****/

.socialsRow {
  display: flex;
  justify-content: end;
  margin-top: auto;
  width: 100%;
  height: 65%;
}

.socialsRow > ul {
  display: flex;
}

.socialsRow > ul > li {
  display: flex;
  text-align: center;
  margin-left: 8px;
  margin-top: auto;
  height: 100%;
}

.socialsRow > ul > li > a {
  margin-top: auto;
}

.socialImage {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  margin: 0;
}

.donateButton {
  background-color: var(--wwRed);
  border: none;
  color: #fff;
  border-radius: 10px;
  max-height: 100px;
  transition: background-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.topButton {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 10;
  margin-top: auto;
  margin-left: 1rem;
}

.donateButton:hover {
  cursor: pointer;
}

/**** NAVIGATION LINKS ****/
.linksRow {
  display: flex;
  width: 100%;
  height: 35%;
  border: 1px solid black;
  justify-content: end;
  background-color: var(--wwPurple);
  padding: 1rem 0;
  border-radius: 0;
  border-bottom-right-radius: 10;
  z-index: 20;
}

.linksRow > ul {
  display: flex;
  background-color: var(--wwPurple);
  width: 100%;
  margin-left: auto;
  margin-right: 1rem;
  text-decoration: none;
  justify-content: end;
}

.linksRow > ul > li {
  display: flex;
  margin: auto 0.5rem;
  text-decoration: none;
  align-content: center;
  justify-content: center;
}

.linksRow > ul > li > a {
  margin: auto;
  text-decoration: none;
  font-size: 1.25rem;
}

.linksRow > ul > li > a:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/**************/
/**** BODY ****/
/**************/

/**** JUMBO + CTA ****/

section {
  display: block;
}

.jumbo {
  display: flex;
  width: 100%;
  height: 30vw;
}

.slideShowContainer {
  display: inline-flex;
  width: 70%;
  height: 100%;
}

.slideShow {
  text-align: center;
  margin: 0;
}

.slideImage {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

.slideShow img:hover {
  transform: scale(1.05);
}

/* CALL TO ACTION */
.cta {
  display: inline-flex;
  width: 30%;
  height: auto;
  z-index: 50;
  background-color: var(--wwOrange);
}

.ctaContainer {
  margin: 2rem;
  text-align: center;
  align-items: center;
}

.ctaContainer > h2 {
  margin: 2rem 1rem 1rem 1rem;
  color: #000;
}

.ctaContainer > .donateButton {
  margin: 1rem;
}

.ctaContainer > .donateButton:hover {
  background-color: #fff;
  color: var(--wwRed);
  transform: scale(1.02);
}

.ctaContainer > .donateButton:active {
  transform: scale(0.95);
}

.verbage {
  color: #000;
  margin: 1rem;
}

/**** MISSION STATEMENTS ****/

.content {
  display: inline-flex;
  width: 100%;
  min-height: 30vw;
  background-color: #ffc75f;
}

.mainPoint {
  height: 24rem;
  width: 20%;
  border: 1px solid black;
  background-color: var(--wwPurple);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  transition: background-color 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.mainPointImg {
  width: 50%;
  height: 30%;
  border-radius: 50%;
  border: 1px solid black;
  margin: 1rem 0;
}

.mainPoint > h2 {
  margin-bottom: 1rem;
}

.learnMore {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  bottom: 0;
  text-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.mainPoint:hover {
  background-color: #6f1ab6;
  transform: scale(1.05);
}

/**** BOARD ****/

.board {
  width: 100%;
  min-height: 30vw;
  background-color: var(--wwOrange);
}

article.fullBoard {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 2rem 1rem;
}

.memberCell {
  margin: 1rem;
  width: 14rem;
  height: 14rem;
  background-color: var(--wwPurple);
  box-shadow: var(--wwShadow);
  transition: background-color 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.memberCell:hover {
  background-color: #6f1ab6;
}

.boardImg {
  height: 100px;
  width: 100px;
  margin: 1rem;
}

.boardMember {
  font-size: 22;
  font-weight: 600;
  color: #fff;
  transition: color 0.5s ease-in-out;
}

.boardRole {
  margin: 0.5rem;
  font-size: 18;
  color: #fff;
  transition: color 0.5s ease-in-out;
}

.memberCell:hover {
  background-color: #6f1ab6;
  transform: scale(1.02);
}

.memberCell:hover > .boardRole,
.memberCell:hover > .boardMember {
  color: #fff;
}

/**** FAMILY ****/

.family {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 30vw;
  background-color: var(--wwOrange);
}

.roundUpImage {
  width: 40%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.roundUpImage img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.roundUpVerbage {
  width: 40%;
  margin: auto;
  text-align: center;
}

.roundUpVerbage h2 {
  color: #000;
  margin: 2rem 1rem 1rem 1rem;
}

.roundUpVerbage p {
  color: #000;
  margin: 0 1rem 1rem 1rem;
}

.roundUpVerbage p > a {
  color: #000;
  text-decoration: underline;
  padding: 1rem;
  font-weight: 600;
}

/**** FINAL CTA ****/

.finalCTA {
  width: 100%;
  height: 30vw;
  background-color: var(--wwOrange);
}

/**** FOOTER ****/

footer {
  margin: 1rem 0;
  color: #000;
}

footer > a {
  margin: 1rem 0;
  color: #000;
  text-decoration: underline;
}

footer > a:hover {
  color: var(--wwPurple);
}

/*******************/
/****** MODAL ******/
/*******************/

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: #000;
}

.modalContent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Modal Header */
.modalHeader {
  background-color: var(--wwPurple);
  color: white;
  display: inline-block;
  width: 100%;
  margin: 0;
}

.modalHeaderText {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
}

/* Modal Body */
.modalBody {
  padding: 1rem;
  color: #001;
  text-align: center;
}

.modalContent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modalHeader {
  background-color: var(--wwPurple);
  color: white;
  display: inline-block;
  width: 100%;
  margin: 0;
}

.modalHeaderText {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
}

.donationOptionLabel {
  font-size: 1.5rem;
  color: #000;
}

.buttonContainer {
  margin: 1rem;
}

.donateOptionButton {
  height: 2rem;
  background-color: transparent;
  border: none;
}

.cashAppLogo {
  height: 2rem;
  width: 12rem;
  background-color: transparent;
}

.cashAppLogo:hover {
  cursor: pointer;
}

.closeContainer {
  width: 100%;
  text-align: center;
  margin: 1rem;
}

.close {
  color: var(--textColor);
  margin: auto;
  padding: 1rem;
  background-color: var(--wwRed);
  transition: background-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

.close:hover {
  cursor: pointer;
  scale: 1.2;
}

/********************/
/**** ANIMATIONS ****/
/********************/

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/********************/
/****** MOBILE ******/
/********************/

@media only screen and (max-width: 500px) {
  body {
    display: block;
  }

  header {
    display: block;
    height: auto;
  }

  .wwLogo {
    width: 80vw;
    position: relative;
  }

  nav {
    display: none;
    /* display: block; */
    width: 100%;
  }

  .socialsRow {
    display: block;
    height: 100%;
  }

  .socialsRow > ul {
    display: block;
    /* display: flex; */
  }

  .socialsRow > ul > li {
    width: auto;
    height: auto;
    margin: 0;
  }

  .socialsRow > ul > li > a {
    display: inline-flex;
    border: 1px solid black;
    height: auto;
  }

  .socialImage {
    height: 100%;
    width: 100%;
  }

  .topButton {
    border-radius: 0;
    width: 100%;
  }

  .linksRow {
    display: none;
  }

  .jumbo {
    display: block;
    height: auto;
  }

  .slideShowContainer {
    width: 100%;
  }

  .cta {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    padding: 1rem 0;
  }

  .ctaContainer {
    height: auto;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }

  .content {
    height: auto;
    display: block;
    padding: 1rem 0;
    border: 2px solid black;
  }

  .mainPoint {
    width: 80%;
    margin: 2rem auto;
  }

  .mainPointImg {
    width: 50%;
  }

  .board {
    /* display: none; */
  }

  .family {
    display: block;
    height: auto;
    padding: 1rem;
  }

  .roundUpImage {
    display: block;
    width: 80%;
    height: auto;
    margin: 1rem auto;
  }

  .roundUpVerbage {
    width: 80%;
    margin: 1rem auto;
  }
}
